[Unit]
Description=script_send

[Service]
Type=forking

EnvironmentFile=/home/osboxes/kv042/conf.txt

ExecStart=/home/osboxes/kv042/filesend.sh
ExecStop=/bin/kill -15 $MAINPID

[Install]
